.todo {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid hsl(234, 11%, 52%);
}

.todo-entry {
	width: 100%;
	height: 30px;
	display: flex;
	background-color: transparent;
	border: transparent;
	padding-left: 30px;
	align-items: center;
}

.complete-button {
	width: 100px;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.complete-button img {
	width: 15px;
	height: 15px;
}
